{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'warehouse/css/home_style.css' %}" rel="stylesheet" />
    <link href="{% static 'warehouse/css/bootstrap.min.css' %}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-body">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#bs-example-navbar-clollapse-1"
                        aria-expanded=false>
                    <span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand">网盘</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-clollapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="">首页</a></li>
                    <li><a href="">日记</a></li>
                    <li><a href="">资料</a></li>
                    <li><a href="">帮助</a></li>
                    <li><a href="">意见反馈</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">{{ user.name }}</a></li>
                    <li><a href="">退出</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container container-body">
		<div class="row">
			<div class="col-md-2">
				<h2 class="index-title"><a href="" class="index-link">全部文件</a></h2>
				<h2 class="index-title"><a href="" class="index-link">推荐商品：</a></h2>
				<h2 class="index-title"><a href="" class="index-link">推荐店铺：</a></h2>
			</div>

			<div class="col-md-10 left-border">
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>

				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>
				<p>
					第一个版本：作为一个做网站的设计师，工作了几年，却没有一个属于自己的博客，所以，时隔3年后，2012年12月底拥有了自己的第一个博客，也是目前仅有的一个。第一个版本，用一个漏洞百出的asp程序仿的一个界面，经常被挂马。那会儿只觉得asp比php简单，能很好控制程序，所以一直坚持用到第二个版本。
				</p>


			</div>
		</div>
	</div>


</body>
</html>